@model IEnumerable<BotProject.Web.Models.BotViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #lstTemplate .card-tmp-bot {
        height: 200px;
        border-radius: 4px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.17);
        background-color: #ffffff;
        cursor: pointer;
        overflow: hidden;
    }

        #lstTemplate .card-tmp-bot img {
            height: 125px;
            object-fit: cover;
        }

        #lstTemplate .card-tmp-bot .card-body {
            padding: 15px 14px 22px;
        }

            #lstTemplate .card-tmp-bot .card-body .card-title {
                margin: 0;
                height: 50px;
                width: 100%;
                display: block;
                overflow: hidden;
                font-weight: bold;
                font-size: 15px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

    #lstTemplate .new-blank-bot {
        width: 100%;
        height: 200px;
        border-radius: 4px;
        border: dashed 1px #9b9b9b;
        background-color: #f0f1f4;
        cursor: pointer;
    }

        #lstTemplate .new-blank-bot i {
            color: #c1c2c3;
            font-size: 112px;
            width: 100%;
            text-align: center;
            /*position: relative;*/
            top: 17px;
        }

        #lstTemplate .new-blank-bot span {
            width: 100%;
            text-align: center;
            color: #888888;
            margin-left: 40px;
        }

    .switchery {
        height: 17px !important;
        width: 38px !important;
    }

        .switchery > small {
            height: 17px !important;
            width: 18px !important;
        }

    .bot-dp-active {
        float: right;
        position: relative;
        top: -4px;
    }
</style>

<div class="container-fluid">
    <div class="d-flex" style="padding-top:10px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <img src="~/assets/images/logo/icon-bot-v2.png" style="width:40px;height:30px" />
                <i class="fa">DANH SÁCH MẪU CHAT BOT</i>
            </li>
        </ol>
    </div>
    <div id="lstTemplate" class="collapse show" style="padding-top:15px">
        <div>
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="card-tmp-bot">
                        <div style="float: left; width: 100%; height: 125px;">
                            <img src="~/assets/images/rural_hospital_access.jpg" alt="Hospital Bot Template" class="card-img-top" />
                        </div>
                        <div class="card-body">
                            <span class="card-title" data-bot-id="">Hospital Bot Template</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="card-tmp-bot">
                        <div style="float: left; width: 100%; height: 125px;">
                            <img src="~/assets/images/image-law.jpg" alt="Law Bot Template" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span class="card-title" data-bot-id="">Law Bot Template</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="card-tmp-bot">
                        <div style="float: left; width: 100%; height: 125px;">
                            <img src="~/assets/images/ảnh-dịch-vụ-công.jpg" alt="Public Services Bot Template" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span class="card-title" data-bot-id="">Public Services Bot Template</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="card-tmp-bot">
                        <div style="float: left; width: 100%; height: 125px;">
                            <img src="~/assets/images/KIA-SHOWROOM.jpg" alt="Showroom Motors Bot Template" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span class="card-title" data-bot-id="5039">Showroom Motors Bot Template</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="card-tmp-bot">
                        <div style="float: left; width: 100%; height: 125px;">
                            <img src="~/assets/images/icons-phones.png" alt="Shop Phone and Devices" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span class="card-title">Shop and Devices Bot Template</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-4">
                    <div class="new-blank-bot">
                        <i class="fa fa-plus"></i>
                        <span>Tạo bot mới</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" style="padding-top:10px">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">CHỦ SỞ HỮU BOT</i></li>
        </ol>
    </div>
    <div class="row" style="margin: 15px 0px 20px;">
        <div id="collapseDiv_0" class="row collapse show" style="width: 100%; padding: 0px; margin: 0px -5px;">
            @if (Model.Count() != 0)
            {
                foreach (var bot in Model)
                {
                    var urlSetting = Url.Content("~") + "bot/setting/" + bot.Alias + "/" + bot.ID + "?name=" + bot.Name;
                    var urlCard = Url.Content("~") + "bot/" + bot.Alias + "/" + bot.ID + "/cardcategory?botName=" + bot.Name;
                    var urlHistory = Url.Content("~") + "bot/history/" + bot.Alias + "/" + bot.ID + "?botName=" + bot.Name;
                    <div class="col-lg-4 col-md-6 col-12 bot-role-1" style="padding-bottom: 15px;">
                        <div class="dropdown dropleft btn-bot-setting-home show">
                            <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="Menu" class="icon-btn btn-menu-bot">
                                <i class="icon-dots-vertical fas fa-ellipsis-h"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right hide" x-placement="left-start" style="cursor: auto; box-shadow: rgb(220, 220, 220) 2px 2px 10px; position: absolute; will-change: transform; top: 0px; left: 45px; transform: translate3d(-212px, 3px, 0px);">
                                <li>
                                    <i class="icon-scenarios fa fa-file"></i>
                                    <a href="@urlCard"><span class="bot-setting-option">Tạo thẻ</span></a>
                                </li>
                                <li>
                                    <i class="icon-nlp fa fa-history"></i>
                                    <a href="@urlHistory"><span class="bot-setting-option">Lịch sử</span></a>

                                </li>
                                <li>
                                    <i class="icon-message1 fa fa-cog"></i>
                                    <a href="@urlSetting"><span class="bot-setting-option">Cài đặt</span>  </a>
                                </li>
                                <li style="color: rgb(255, 0, 0);">
                                    <i class="icon-trash fa fa-trash" style="color: rgb(255, 0, 0);"></i>
                                    <span class="bot-setting-option">Xóa Bot</span>
                                </li>
                            </ul>
                        </div>
                        <div class="bot-style">
                            <div class="bot-header">
                                <div class="bot-icon" style="color:white;">
                                    @bot.NameAcronym
                                </div>
                                <span title="@bot.Name" class="bot-dp-name">@bot.Name</span>
                                <span class="bot-dp-lang"><i class="flag-icon flag-icon-gb"></i> Tiếng Việt</span>
                                <span class="bot-dp-active">
                                    <input type="checkbox" class="switchery randomText" id="chkActiveBotWithLiveChat" style="display:none" value="false">
                                    <span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color:#ddd"></small></span>
                                </span>
                            </div>
                            <a href="@urlSetting">
                                <div class="bot-content">
                                    <div class="row">
                                        <!----> <!---->
                                        <div title="Ý định" class="col-6" style="padding-right: 0px;">Ý định</div>
                                        <div class="col-6">@bot.TotalIntent</div>
                                        <div title="Loại thực thể" class="col-6" style="padding-right: 0px;">Loại thực thể</div>
                                        <div class="col-6">@bot.TotalCard</div>
                                        <div title="Câu mẫu" class="col-6" style="border-bottom: none;">Câu kịch bản </div>
                                        <div class="col-6" style="border-bottom: none;">@bot.TotalQuestionScript</div>
                                    </div>
                                </div>
                                <div class="bot-footer">
                                    <div class="row">
                                        <div title="Lần huấn luyện gần nhất" class="col-6">Lần huấn luyện gần nhất</div>
                                        <div class="col-6">@(bot.UpdatedDate.HasValue ? bot.UpdatedDate.Value.ToString("dd/MM/yyyy hh:mm:ss") : "")</div>
                                    </div>
                                </div>
                                <div class="bot-footer">
                                    <div class="row">
                                        <div title="Hoạt động" class="col-6">Đang hoạt động</div>
                                        <div class="col-6">
                                            @if (!String.IsNullOrEmpty(bot.FacebookToken))
                                            {
                                                <span><img title="Facebook" src="~/assets/images/img-facebook.png" class="img-bot-activing" /></span>
                                            }
                                            @if (!String.IsNullOrEmpty(bot.ZaloToken))
                                            {
                                                <span><img title="Zalo" src="~/assets/images/img-zalo-2.png" class="img-bot-activing" /></span>
                                            }
                                            @if (bot.ID == 3019)
                                            {
                                                <span><img title="Kiosk" src="~/assets/images/img-kiosk.png" class="img-bot-activing" /></span>
                                            }
                                            <span><img title="Website" src="~/assets/images/img-website.jpg" class="img-bot-activing" /></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                }
            }
            else
            {
                <div class="col-md-12">
                    <h4 style="text-align:center;position:center">Vui lòng tạo bot để trải nghiệm</h4>
                </div>
            }
        </div>
    </div>
</div>


