@using BotProject.Web.Models;
@model FormQuestionAnswerViewModel
@{
    ViewBag.Title = "QnA";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var strCards = ViewBag.Cards;

    //var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    //serializer.MaxJsonLength = Int32.MaxValue;
    //var cardModel = serializer.Serialize(cards);

}
<link href="~/assets/client/css/jquery.selectBoxIt.css" rel="stylesheet" />
<link href="~/assets/client/css/sweetalert.css" rel="stylesheet" />
<link href="~/assets/client/css/sweetalert.min.css" rel="stylesheet" />
<link href="~/assets/client/css/sweetalert.min.css.map" rel="stylesheet" type="application/json" />
<link href="~/assets/client/css/select2.min.css" rel="stylesheet" />
<link href="~/assets/client/css/card.css" rel="stylesheet" />
<link href="~/assets/client/css/common-bot.css" rel="stylesheet" />
<link href="~/assets/client/css/components.css" rel="stylesheet" />
<style>
    @@media (min-width: 576px) {
        .modal-card {
            max-width: 1320px;
            margin: 1.75rem auto;
            max-height: 100%;
            position: relative;
            overflow: auto !important;
            padding-right: unset;
        }
    }

    .icon-spinner4.spinner {
        color: #fff;
    }

    .icon-spinner4.spinner {
        font-size: 30px;
    }

    .has-error .form-control {
        border-color: #ed4956;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    }

    .select2-dropdown {
        z-index: 999999;
    }

    .select2-dropdown {
        background-color: white;
        border: 1px solid #aaa;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: -100000px;
        width: 100%;
        z-index: 999999;
    }

    .select2 {
        width: 100%;
    }

    select + .select2-container {
        width: 100% !important;
    }

    .product-colors input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        display: inline-block;
    }

    .ml10 {
        margin-left: 10px;
    }

    .target-field {
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        color: #71748d;
        background-color: #fff;
        background-image: none;
        border: 1px solid #d2d2e4;
        border-radius: 2px;
        padding: 5px 0px 5px 10px;
    }

    .breadcrumb {
        padding: .75rem 1rem;
    }
    .pull-right {
    float: right !important;
}
    #paging .panel-flat{
  overflow: hidden;
}
#paging .panel-flat .pagination{
  display: block;
}
#paging{
  margin-bottom: 20px;
}
	.inner{
		width:450px !important;
	}
</style>
<input type="hidden" id="botId" value="@Model.BotID" />
<input type="hidden" id="formQnaID" value="@Model.ID" />
<input type="hidden" id="formAlias" value="@Model.Alias" />

<style>
    /* The container */
    .containerChk {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        /*font-size: 22px;*/
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .containerChk input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        /*left: 0;*/
        height: 25px;
        width: 25px;
        background-color: #ccc;
    }

    /* On mouse-over, add a grey background color */
    .containerChk:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .containerChk input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .containerChk input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .containerChk .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-b-10">
        <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">@ViewBag.BotName</i></li>
                <li class="breadcrumb-item">Huấn luyện bot</li>
                <li class="breadcrumb-item active">@Model.Name</li>
            </ol>
            <div class="toolbar ml-auto p-r-10 p-t-10">
                <a href="#" class="btn btn-success btn-sm saveKeyword"><i class="fas fa-sync-alt"></i> Huấn luyện dữ liệu</a>
                @*<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Publish</a>*@
            </div>
        </div>
        <div class="d-flex">
            <p style="padding:15px">
                <span class="text-semibold">Hướng dẫn:</span><br>
                <span>- Sử dụng<input type="checkbox" checked="" disabled="">là từ khóa. Ví dụ: Nếu [người dùng nói] là “chào” thì khi người dùng nhập mà trong câu có từ “chào”(Chào bạn), bot sẽ trả về kết quả tương ứng trong phần [Bot trả lời].</span><br>
                @*- Sử dụng <input type="checkbox" disabled="">  là cụm từ. Ví dụ: Nếu [người dùng nói] là “tên của bạn là gì” thì khi người dùng nhập có nội dung tương tự “tên của cậu là gì?”, bot sẽ trả về kết quả tương ứng trong phần [Bot trả lời].<br>*@
                <span>- Sử dụng &lt;get name=&quot;{{attribute}}&quot; /&gt;   trả ra thông tin.</span><br />
                <span>- Sử dụng &lt;set name=&quot;{{attribute}}&quot; /&gt;&lt;star /&gt;&lt;/set&gt;  để lấy thông tin khi sử dụng<input type="checkbox" checked="" disabled=""> là từ khóa.</span><br />
                <span>- Sử dụng tạo thẻ để thiếp lập luồng đi trả lời.</span>
            </p>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pageheader-title">
        @*<div class="d-flex">
                <h5 class="pageheader-title">@Model.Name.ToUpper() </h5>
                <div class="toolbar ml-auto p-r-10">
                    <a href="#" class="btn btn-success btn-sm saveKeyword"><i class="fas fa-sync-alt"></i> Save and retrain</a>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fas fa-upload"></i> Publish</a>
                </div>
            </div>*@
        <div class="d-flex">
            <p style="font-size:13pt;padding-left:20px;color:darkblue;" id="search-label" for="search-terms" class="addCt"><i class="fas fa-plus-circle"></i> <span style="padding-left:5px;text-decoration:underline">Thêm kịch bản</span></p>
            <div class="ml-auto" style="font-size:13px;padding-right:100px">
                @if (Model.Status == true)
            {
                    <label class="containerChk">
                        <span style="margin-right:10px">Kích hoạt</span>
                        <input type="checkbox" id="statusFormQnA" value="true" checked>
                        <span class="checkmark"></span>
                    </label>
                }
                else
                {
                    <label class="containerChk">
                        <span style="margin-right:10px">Kích hoạt</span>
                        <input type="checkbox" id="statusFormQnA" value="false">
                        <span class="checkmark"></span>
                    </label>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="pageLearning">
    <div class="card form-qna" id="form-qna">
        <div class="wrap-content" data-countpanel="1">
            <div class="panel panel-flat" indexpanel="1" data-quesgroup-id="">
                <div class="panel-body">
                    <i class="fa fa-save icon-bin saveRowQnA"></i>
                    <i class="fa fa-plus icon-bin addCtShowNextRow"></i>
                    <i class="fa fa-trash icon-bin rmCt"></i>
                    <div class="wrMove">
                        <i class="fa fa-arrow-up moveTop" style="display: inline;"></i>
                        <i class="fa fa-arrow-down moveBot" style="display: inline;"></i>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 userSay">
                            <label>Người dùng nói</label>
                            <div class="input-group">
                                <ul class="tags checkvalid">
                                    <li class="tagAdd taglist">
                                        <input type="text" class="search-field">
                                    </li>
                                </ul>
                                <span class="input-group-addon">
                                    <input type="checkbox" class="styled" name="data[exactly][1]" checked="checked">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-5 botReply">
                            <label>Bot trả lời với&nbsp;</label>
                            <label class="learn_switchbot">
                                <input type="checkbox" name="data[Bot][Status]" class="learn_switchinput" checked="">
                                <span class="learn_sliderbot learn_roundbot"></span>
                            </label>
                            <div class="checkbox checkbox-switchery switchery-xs pull-right pd0">
                                <label>
                                    <input type="checkbox" class="switchery randomText" style="display:none">
                                    <span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;">
                                        <small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"></small>
                                    </span>
                                    Ngẫu nhiên
                                </label>
                            </div>
                            <div class="wrbutton" indexbt="1">
                                <div class="bt">
                                    <input type="text" name="data[question][1][]" autocomplete="off" class="form-control checkvalid" maxlength="320">
                                    <i class="fa fa-remove icon-bin rmText"></i>
                                </div>
                            </div>
                            <button type="button" class="btn btn-rounded mt20 w100 hidden">
                                <i class="fa fa-plus"></i> Thêm câu trả lời ngẫu nhiên
                            </button>
                        </div>
                        <div class="col-lg-2 metaTarget">
                            <label>Ý định</label>
                            <div class="input-group">
                                <input type="text" class="target-field" data-target-id="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @*<div class="clearfix"></div>*@
    <div class="card">
        <nav class="pagination pagination_type1" id="pagination_type" style="display:none">
            <ol class="pagination__list" id="pagination-list"></ol>
            <div class="pagination__list m-l-20">
                <select id="results-pp">
                    <option value="5" selected>5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="100">100</option>
                    <option value="2000000">Tất cả</option>
                </select>
                <span class="m-l-10">Số lượng hiển thị</span>
            </div>
            <span id="pagination-text-number-show" style="margin:10px 10px 0 auto"></span>
        </nav>
    </div>

</div>


<!--modal form create bot qna-->
<div class="modal fade" id="modalCreateBotQnAnswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true" style="display:none;">
    <input type="hidden" id="bot-botQnA-id" value="" />
    <input type="hidden" id="bot-botQnA-name" value="" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create form training</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Name</label>
                        <input type="text" class="form-control" id="txtBotQnAnswerName" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="btnSaveBotQnA">Save</a>
            </div>
        </div>
    </div>
</div>
@section dialogBotJS{
    <script src="~/static/js/app.js"></script>

    <!--Lacviet-->
    @*<script>
        (function (l, a, c, v, i, e, t){
            a[v] = a[v] || function (){
                a[v].t =+ new Date();
                (a[v].q = a[v].q || []).push(arguments);
            };
            i = l.createElement('script');
            var ii = l.getElementsByTagName('script')[0];
            i.async = 1;
            i.src = c;
            i.id = 'lacviet-script';
            ii.parentNode.insertBefore(i, ii);
        })(document, window, 'http://localhost:54160/static/js/app.js', 'lacviet');
        setTimeout(function(){lacviet.load('U2FsdGVkX19hLyZ3+0e7J+6o2nc9UhCOW54+qG73sjSWMip1szuIeYnp+3na+IZW','U2FsdGVkX180mQVdMji5+0ZHrvdmwR2TyyX1k2HwEEWXIaOpc4aUH7HG/jyn1R1KikKAPO07b8EuJ704FPjZ2Q==','U2FsdGVkX1+ZqiM+BCo9X/bxdtZZa4dQrAp49aDY+tM=');},1500)
        </script>*@
    <!-- End Lacviet -->

    <script>
        var encryptedUrl = CryptoJS.AES.encrypt(_Host, "Secret Passphrase").toString();
        var encryptedUserID = CryptoJS.AES.encrypt($("#userId").val(), "Secret Passphrase").toString();
        var encryptedBotID = CryptoJS.AES.encrypt($("#botId").val(), "Secret Passphrase").toString();
        lacviet.load('' + encryptedUrl + '', '' + encryptedUserID + '', '' + encryptedBotID + '', 'U2FsdGVkX19D5jsWIYosQVQ4bBWt2cjbzgkJbDAOSB+Igj5G2vGw1bAq+sh1P/Yc')
    </script>
}


@section footerJS{
    <script>       
        //var lstCard = @Html.Raw(strCards);
        //console.log(lstCard)
        function card() {
            var temp = '@Html.Raw(Model.StrTempOtpCards)';
            //if (lstCard.length != 0) {
            //    $.each(lstCard, function (index, value) {
            //        temp += '<optgroup label="' + value.Name.toUpperCase() + '">';
            //        if (value.Cards.length != 0) {
            //            $.each(value.Cards, function (index, value) {
            //                temp += '<option value="' + value.ID + '">' + value.Name + '</option>';
            //            })
            //        } else {
            //            temp += '<option value=""></option>';
            //        }
            //        temp += '</optgroup>';
            //    })
            //}
            return temp;
        }

        function module() {
            var htmlListModule = '<option  value="vote">Bình chọn</option><option  value="livechat">Chat trực tiếp</option><option attr-template="true" value="rss">RSS</option><option attr-template="true" value="weather">Thời tiết</option><option  value="reservation">Đặt bàn</option>'; return htmlListModule;
        }

        $('#statusFormQnA').change(function () {
            if ($(this).is(":checked")) {
                $(this).val('true');
            } else {
                $(this).val('false');
            }
        });
    </script>
    <script src="~/assets/client/js/eventBot/form-learning-qna.js"></script>
}

