@model BotProject.Web.Models.BotSettingViewModel
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cards = (IEnumerable<BotProject.Model.Models.Card>)ViewBag.Cards;
    var botName = ViewBag.BotName;
}
<link href="~/assets/client/css/common-bot.css" rel="stylesheet" />
<style>
    .file-preview {
        border-radius: 2px;
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    #frame_chat_setting {
        width: 100%;
        height: 500px;
    }

    .help-block {
        color: #999;
        font-size: 12px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .txtStartButton {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 7px 12px;
        outline: 0;
        height: auto;
        min-height: 55px;
    }

    [contentEditable=true]:empty:not(:focus)::before {
        content: attr(data-ph);
        color: #c3c3c3;
    }
    .breadcrumb{
        padding: .75rem 1rem;
    }
     #pageSetting .tags {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ddd;
        display: table;
        padding: 3px 0 0 0;
        width: 100%;
        list-style: none;
        margin-bottom: 0;
        min-height: 35px;
        border-radius: 3px 0 0 3px;
    }

    #pageSetting .input-group.has-error .tags {
        border-color: #ed4956;
    }

    #pageSetting .tags li.tagAdd,
    #pageSetting .tags li.addedTag {
        float: left;
        margin-left: 1.5px;
        margin-right: 1.5px;
        margin-bottom: 3px;
    }

    #pageSetting .tags li.addedTag {
        border-radius: 2px;
        color: #333;
        padding: 0.25em;
        text-transform: lowercase;
        border: 1px solid cornflowerblue;
    }

        #pageSetting .tags li.addedTag.error-tag {
            background-color: #ffb9b4;
            color: #242729;
        }

    #pageSetting .tags input,
    #pageSetting li.addedTag {
        border: 1px solid transparent;
        border-radius: 2px;
        box-shadow: none;
        display: block;
        padding: 0.5em;
        cursor: pointer;
    }

    #pageSetting .tags input {
        text-transform: lowercase;
    }

        #pageSetting .tags input:hover {
            border: 1px solid #000;
        }

    #pageSetting span.tagRemove {
        cursor: pointer;
        display: inline-block;
        padding-left: 0.5em;
    }

        #pageSetting span.tagRemove:hover {
            color: cornflowerblue;
        }

    #pageSetting .tags input.search-field {
        outline: none;
        border: none;
        text-transform: lowercase;
    }

    #pageSetting .tags input.search-field {
        padding: 0.25em 0.5em;
    }

    #pageSetting .input-group-addon {
        border-radius: 0 3px 3px 0;
    }
    .wrap-content {
        background-color: unset;
}
</style>
<input type="hidden" id="userID" value="@ViewBag.UserID"/>
<input type="hidden" id="settingID" value="@Model.ID"/>
<input type="hidden" id="botID" value="@Model.BotID"/>
<input type="hidden" id="txtIntroduct" value="@Model.TextIntroductory"/>
<input type="hidden" id="cardID" value="@Model.CardID"/>
<input type="hidden" id="isMdSearch" value="@Model.IsMDSearch"/>
<input type="hidden" id="isActiveIntroduct" value="@Model.IsActiveIntroductory"/>
<input type="hidden" id="stopWord" value="@Model.StopWord"/>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="pageSetting">
    <div class="card">
        <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">@botName</i></li>
                <li class="breadcrumb-item active">Cài đặt</li>
            </ol>
            <div class="toolbar ml-auto p-r-10 p-t-10">
                <button href="javascript:void(0);" class="btn btn-primary btn-sm" id="btnSaveSettings" style="background-color:darkblue;border-color:darkblue"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
        <div class="card-body">
            <form id="validationform" data-parsley-validate="" novalidate="" class="col-md-7" style="float:left">
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Tên bot</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" placeholder="Tên bot..." class="form-control" id="formName" value="@Model.FormName" onchange="getFormName(this)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Hình ảnh bot</label>
                    <div class="col-12 col-sm-8">
                        <div class="input-file" name="Fichier1">
                            <input type="file" id="formLogo" accept="image/png, image/jpeg" class="form-control" placeholder='Choose a file...' />
                        </div>
                        <div class="file-preview ">
                            <div class="close fileinput-remove text-right">×</div>
                            <div class="file-preview-thumbnails">
                                <div class="file-preview-frame" id="preview-logo">
                                    @if (!String.IsNullOrEmpty(Model.Logo))
                                    {
                                        <img src="@Url.Content("~/"+Model.Logo)" class="file-preview-image" alt="" />
                                    }
                                    else
                                    {
                                        <img src="/assets/images/user_bot.jpg" class="file-preview-image" alt="" />
                                    }
                                </div>
                            </div>
                            <div class="clearfix"></div>   <div class="file-preview-status text-center text-success"></div>
                            <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Màu nền bot</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" id="formColor" class="form-control demo" data-format="rgb" value="@Model.Color">
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-sm-3 text-sm-left">
                        <label class="learn_switchbot text-left mb0">
                            <input type="checkbox" class="learn_switchinput" id="startedButton">
                            <div class="learn_sliderbot learn_roundbot"></div>
                        </label>
                        <label class="text-bold mb0">
                            Nút bắt đầu
                        </label>
                        <small class="help-block">Tin nhắn đầu tiên gửi cho người dùng</small>
                    </div>
                    <div class="col-12 col-sm-8" id="card-introduction">
                        <select class="form-control">
                            <option value="" disabled selected>Chọn thẻ</option>
                            @foreach (var item in cards)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-sm-3 text-sm-left">
                        <label class="text-bold mb0">Tùy chọn module</label>
                    </div>
                    <div class="col-lg-9 col-sm-9">
                        <label>
                            <div class="checker border-primary-600 text-primary-800" id="uniform-statusTran">
                                <span>
                                    @if (Model.IsMDSearch == true)
                                    {
                                        <input type="checkbox" id="statusSearch" checked>
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="statusSearch">
                                    }
                                </span>
                            </div>
                        </label>
                        <span class="text-bold mb0" style="display: inline-block;margin-left: 10px;">
                            Sử dụng module tìm kiếm khi không tìm thấy cặp hỏi đáp trong rule
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Lọc từ cấm</label>
                    <div class="col-12 col-sm-8 wrap-content">
                        <div class="input-group">
                            <ul class="tags checkvalid" id="ulTags">
                                <li class="tagAdd taglist">
                                    <input type="text" class="search-field">
                                </li>
                            </ul>
                        </div>            
                    </div>
                </div>
            </form>
            <div class="col-md-5" style="float:right">
                <iframe name="f12691cd05677d1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                        allow="encrypted-media" title="" src="@System.Configuration.ConfigurationManager.AppSettings["Domain"]Bot/FormChatSetting?botName=@botName"
                        id="frame_chat_setting"></iframe>
            </div>
        </div>
    </div>
</div>

@section footerJS{
    <script src="~/assets/client/js/setting.js"></script>
    <script>
        var lstCard = @Html.Raw(Json.Encode(cards));

        function card() {
            var html = '<select id="sltCard" class="form-control"><option value="" disabled selected>Chọn thẻ</option>';
            if (lstCard.length != 0) {
                $.each(lstCard, function (index, value) {
                    html += '<option value="'+value.ID+'">'+value.Name+'</option>';
                })
            }
            html += '</select>';
            return html;
        }
    </script>
}