@model BotProject.Web.Models.BotSettingViewModel
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cards = (IEnumerable<BotProject.Model.Models.Card>)ViewBag.Cards;
    var bots = (IEnumerable<BotProject.Web.Models.BotViewModel>)ViewBag.Bots;
    var systemConfigs = (IEnumerable<BotProject.Model.Models.SystemConfig>)ViewBag.SystemConfigs;
    var botName = ViewBag.BotName;
}
<link href="~/assets/client/css/common-bot.css" rel="stylesheet" />
<style>
    .file-preview {
        border-radius: 5px;
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
    }

    #frame_chat_setting {
        width: 100%;
        height: 500px;
    }

    .help-block {
        color: #999;
        font-size: 12px;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .txtStartButton {
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: 7px 12px;
        outline: 0;
        height: auto;
        min-height: 55px;
    }

    [contentEditable=true]:empty:not(:focus)::before {
        content: attr(data-ph);
        color: #c3c3c3;
    }

    .breadcrumb {
        padding: .75rem 1rem;
    }

    #pageSetting .tags {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ddd;
        display: table;
        padding: 3px 0 0 0;
        width: 100%;
        list-style: none;
        margin-bottom: 0;
        min-height: 35px;
        border-radius: 3px 0 0 3px;
    }

    #pageSetting .input-group.has-error .tags {
        border-color: #ed4956;
    }

    #pageSetting .tags li.tagAdd,
    #pageSetting .tags li.addedTag {
        float: left;
        margin-left: 1.5px;
        margin-right: 1.5px;
        margin-bottom: 3px;
    }

    #pageSetting .tags li.addedTag {
        border-radius: 2px;
        color: #333;
        padding: 0.25em;
        text-transform: lowercase;
        border: 1px solid cornflowerblue;
    }

        #pageSetting .tags li.addedTag.error-tag {
            background-color: #ffb9b4;
            color: #242729;
        }

    #pageSetting .tags input,
    #pageSetting li.addedTag {
        border: 1px solid transparent;
        border-radius: 2px;
        box-shadow: none;
        display: block;
        padding: 0.5em;
        cursor: pointer;
    }

    #pageSetting .tags input {
        text-transform: lowercase;
    }

        #pageSetting .tags input:hover {
            border: 1px solid #000;
        }

    #pageSetting span.tagRemove {
        cursor: pointer;
        display: inline-block;
        padding-left: 0.5em;
    }

        #pageSetting span.tagRemove:hover {
            color: cornflowerblue;
        }

    #pageSetting .tags input.search-field {
        outline: none;
        border: none;
        text-transform: lowercase;
    }

    #pageSetting .tags input.search-field {
        padding: 0.25em 0.5em;
    }

    #pageSetting .input-group-addon {
        border-radius: 0 3px 3px 0;
    }

    .wrap-content {
        background-color: unset;
    }

    .m-b-10-importan {
        margin-bottom: 10px !important;
    }

    .switchery {
        height: 15px !important;
    }

        .switchery > small {
            height: 15px !important;
        }
</style>
<input type="hidden" id="userID" value="@ViewBag.UserID" />
<input type="hidden" id="settingID" value="@Model.ID" />
<input type="hidden" id="botID" value="@Model.BotID" />
<input type="hidden" id="cardID" value="@Model.CardID" />
<input type="hidden" id="isMdSearch" value="@Model.IsMDSearch" />
<input type="hidden" id="txtIntroduct" value="@Model.TextIntroductory" />
<input type="hidden" id="stopWord" value="@Model.StopWord" />
<input type="hidden" id="settingColor" value="@Model.Color" />

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="pageSetting">
    <div class="card">
        <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home" href="javascript:void(0)">@botName</i></li>
                @*<li class="breadcrumb-item active">Cài đặt</li>*@
            </ol>
            <div class="toolbar ml-auto p-r-10 p-t-10">
                <button href="javascript:void(0);" class="btn btn-success btn-sm" id="btnSaveSettings"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
        <div class="card-body">
            <form id="validationform" data-parsley-validate="" novalidate="" class="col-md-7" style="float:left">
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Tên:</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" placeholder="Tên bot..." class="form-control" id="formName" value="@Model.FormName" onchange="getFormName(this)">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Icon:</label>
                    <div class="col-12 col-sm-8">
                        <div class="input-file" name="Fichier1">
                            <input type="file" id="formLogo" accept="image/png, image/jpeg" class="form-control" placeholder='Choose a file...' />
                        </div>
                        <div class="file-preview ">
                            <div class="close fileinput-remove text-right">×</div>
                            <div class="file-preview-thumbnails">
                                <div class="file-preview-frame" id="preview-logo">
                                    @if (!String.IsNullOrEmpty(Model.Logo))
                                    {
                                        <img src="@Url.Content("~/"+Model.Logo)" class="file-preview-image" alt="" width="50" height="40"/>
                                    }
                                    else
                                    {
                                        <img src="/assets/images/user_bot.jpg" class="file-preview-image" alt="" width="50" height="40"/>
                                    }
                                </div>
                            </div>
                            <div class="clearfix"></div>   <div class="file-preview-status text-center text-success"></div>
                            <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Màu nền:</label>
                    <div class="col-12 col-sm-8">
                        <input type="text" id="formColor" class="form-control demo" data-format="rgb" value="@Model.Color">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-sm-3 text-sm-left">
                        <label class="learn_switchbot text-left mb0">
                            <input type="checkbox" class="learn_switchinput" id="startedButton">
                            <div class="learn_sliderbot learn_roundbot"></div>
                        </label>
                        <label class="text-bold mb0">
                            Nút bắt đầu
                        </label>
                        <small class="help-block">Tin nhắn đầu tiên gửi cho người dùng</small>
                    </div>
                    <div class="col-12 col-sm-8" id="card-introduction">
                        <select data-live-search="true" class="form-control selectKeyword checkvalid">
                            <option value="" selected>---Chọn thẻ---</option>
                            @foreach (var item in cards)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                @*<div class="form-group row">
                <div class="col-lg-3 col-sm-3 text-sm-left">
                <label class="text-bold mb0">Tùy chọn module</label>
                </div>
                <div class="col-lg-9 col-sm-9">
                <label>
                <div class="checker border-primary-600 text-primary-800" id="uniform-statusTran">
                <span>
                @if (Model.IsMDSearch == true)
                {
                <input type="checkbox" id="statusSearch" checked value="true">
                }
                else
                {
                <input type="checkbox" id="statusSearch" value="false">
                }
                </span>
                </div>
                </label>
                <span class="text-bold mb0" style="display: inline-block;margin-left: 10px;">
                Sử dụng module tìm kiếm khi không tìm thấy
                </span>
                </div>
                </div>*@
                <div class="form-group row">
                    <label class="col-12 col-sm-3 col-form-label text-sm-left">Lọc từ:</label>
                    <div class="col-12 col-sm-8 wrap-content">
                        <div class="input-group">
                            <ul class="tags checkvalid" id="ulTags">
                                <li class="tagAdd taglist">
                                    <input type="text" class="search-field">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-5" style="float:right">
                <iframe name="f12691cd05677d1" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no"
                        allow="encrypted-media" title="" src="@System.Configuration.ConfigurationManager.AppSettings["Domain"]Bot/FormChatSetting?botName=@botName"
                        id="frame_chat_setting"></iframe>
            </div>
        </div>
    </div>
    <!-- chatbot search nlp -->
    <div class="card b-module-search">
        <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-search" href="javascript:void(0)">TÍCH HỢP TÌM KIẾM NLP</i></li>
            </ol>
            <div class="toolbar p-r-10 p-t-10">
                <label>
                    @if (Model.IsMDSearch == true)
                    {
                        <input type="checkbox" class="switchery randomText" id="statusSearch" style="display:none" checked value="true">
                        <span class="switchery switchery-default" style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 8px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"><small style="left:20px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color: rgb(255, 255, 255);"></small></span>
                    }
                    else
                    {
                        <input type="checkbox" class="switchery randomText" id="statusSearch" style="display:none" value="false">
                        <span class="switchery switchery-default" style="box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset; border-color: rgb(223, 223, 223); background-color: rgb(255, 255, 255); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;"><small style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color:#ddd"></small></span>
                    }

                    @if (Model.IsActiveIntroductory == true)
                    {
                        <input type="hidden" id="isActiveIntroduct" value="true" />
                    }
                    else
                    {
                        <input type="hidden" id="isActiveIntroduct" value="false" />
                    }
                </label>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-3">
                    <p class="m-b-10">Phương thức:</p>
                    <select class="form-control">
                        <option>POST</option>
                    </select>
                </div>
                <div class="col-lg-8">
                    <p class="m-b-10">URL</p>
                    <input type="text" class="form-control" placeholder="http://172.16.7.71:80/api/qa_for_all/get_related_pair" value="http://172.16.7.71:80/api/qa_for_all/get_related_pair" id="UrlAPI">
                </div>
                <div class="col-lg-12">
                    <p data-current-language="vi" class="m-b-10-importan">Headers:</p>
                </div>
                <div class="col-lg-12 row" style="padding: 0px 0px 10px; width: 100%; margin-left: 0px;">
                    <div class="col-lg-3">
                        <input placeholder="key" class="form-control" value="x-api-key" disabled>
                    </div>
                    <div class="col-lg-8">
                        <input placeholder="value" class="form-control" value="TGFjdmlldC1RQS1XZWJBUEk=" disabled>
                    </div>
                    @*<div class="col-lg-1" style="padding: 0px;">
                        <a href="javascript:void(0)" class="icon-btn">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>*@
                </div>
                @*<div class="col-lg-12">
                    <button class="btn btn-add-condition" data-msgid="+ Add header" data-current-language="vi" style="margin-bottom: 10px;">
                        + Thêm header
                    </button>
                </div>*@
                <div class="col-lg-12">
                    <p class="m-b-10-importan">Điều kiện lọc:</p>
                </div>
                <div class="col-lg-12 row" style="padding: 0px 0px 10px; width: 100%; margin-left: 0px;">
                    <div class="col-lg-3">
                        <input placeholder="Giá trị" title="" class="form-control" value="Thể loại" disabled>
                    </div>
                    <div class="col-lg-3">
                        <select title="=" class="form-control">
                            <option value="=">=</option>
                            <option value="!=">!=</option>
                        </select>
                    </div>
                    <div class="col-lg-5">
                        <select title="number" id="BotCategoryID" data-live-search="true" class="form-control selectKeyword checkvalid">
                            <option value="" selected="selected" data-msgid="Select variable" data-current-language="vi">---Chọn giá trị---</option>
                            @if (bots.Count() != 0)
                            {
                                foreach (var item in bots)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        </select>
                    </div> <div class="col-lg-1" style="padding: 0px;">
                        <a href="javascript:void(0)" title="Xóa điều kiện" class="icon-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 row" style="padding: 0px 0px 10px; width: 100%; margin-left: 0px;">
                    <div class="col-lg-3">
                        <input placeholder="Giá trị" title="" class="form-control" value="Lĩnh vực" disabled>
                    </div>
                    <div class="col-lg-3">
                        <select title="=" class="form-control">
                            <option value="=" data-msgid="is" data-current-language="vi">=</option>
                            <option value="!=" data-msgid="is not" data-current-language="vi">!=</option>
                        </select>
                    </div>
                    <div class="col-lg-5" id="TempAreaID">
                        <select id="AreaID" data-live-search="true" class="form-control selectKeyword checkvalid" disabled>
                            <option value="" selected="selected" data-msgid="Select variable" data-current-language="vi">---Tất cả---</option>
                        </select>
                    </div> <div class="col-lg-1" style="padding: 0px;">
                        <a href="javascript:void(0)" title="Xóa điều kiện" class="icon-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 row" style="padding: 0px 0px 10px; width: 100%; margin-left: 0px;">
                    <div class="col-lg-3">
                        <input placeholder="Giá trị" title="" class="form-control" value="Trả về" disabled>
                    </div>
                    <div class="col-lg-3">
                        <select title="=" class="form-control">
                            <option value="=" data-msgid="is" data-current-language="vi">=</option>
                            <option value="!=" data-msgid="is not" data-current-language="vi">!=</option>
                        </select>
                    </div>
                    <div class="col-lg-5">
                        <input type="number" placeholder="Giá trị" id="NumberReponse" title="" class="form-control" value="5">
                    </div> 
                    <div class="col-lg-1" style="padding: 0px;">
                        <a href="javascript:void(0)" title="Xóa điều kiện" class="icon-btn"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- chatbot on web -->
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12">
            <div class="card b-fb-at-work">
                <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-comment" href="javascript:void(0)">CHATBOT TRÊN WEB</i></li>
                    </ol>
                </div>
                <div class="card-body">
                    <pre id="deploy-bot">         
            </pre>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
            <!-- chatbot on facebook-->
            <div class="card b-module-search">
                <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fab fa-facebook" href="javascript:void(0)">CHATBOT TRÊN FACEBOOK</i></li>
                    </ol>
                    <div class="toolbar ml-auto p-r-10 p-t-10">
                        <a href="javascript:void(0)" title="Cách sử dụng" class="btn-zalo-guide"><i class="fa fa-question-circle-o"></i></a>                    
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <p data-msgid="CallbackURL" data-current-language="vi" class="m-b-10">Webhook Callback URL</p>
                            <input type="text" class="form-control" value="https://bot.surelrn.vn/api/webhook" disabled>
                        </div>
                        <div class="col-lg-12">
                            <p data-msgid="Code" data-current-language="vi" class="m-b-10">Verify Token</p>
                            <input type="text" class="form-control" value="lacviet_bot_chat" disabled>
                        </div>
                        <div class="col-lg-12">
                            <p data-msgid="AccessToken" data-current-language="vi" class="m-b-10">Page AccessToken</p>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="col-lg-12">
                            <p data-msgid="Code" data-current-language="vi" class="m-b-10">Secret Key</p>
                            <input type="text" class="form-control" value="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
            <!-- chatbot on zalo-->
            <div class="card b-module-search">
                <div class="d-flex" style="border-bottom: 1px solid #e6e6f2;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fab fa-facebook" href="javascript:void(0)">CHATBOT TRÊN ZALO</i></li>
                    </ol>
                    <div class="toolbar ml-auto p-r-10 p-t-10">
                        <a href="javascript:void(0)" title="Cách sử dụng" class="btn-zalo-guide"><i class="fa fa-question-circle-o"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-lg-12 p-b-10">
                            <p data-msgid="CallbackURL" data-current-language="vi" class="m-b-10">Zalo Webhook Callback URL</p>
                            <input type="text" class="form-control" value="https://bot.surelrn.vn/api/zalowebhook" disabled>
                        </div>
                        <div class="col-lg-12 p-b-10">
                            <p data-msgid="AccessToken" data-current-language="vi" class="m-b-10">Office Account AccessToken</p>
                            <input type="text" class="form-control" value="OUQpPbeaQqbjuhvZLIjhJstikczICc8EDPBCEaCHQKStjV4gJ1fqPJEwnaeBPsSmOjhq7rL485CgnvKRSa97SYpW_bXRIMe04el3A2e9Rb9ca-C63ZKn9dcAbbeV0oDqMgos31yhEqLhhvfhD1HC45sWnKKR51GAUwEWHaS_0Xbvzhf94qu34LxQXKOVQI8gGwdxGpKILZjqrS1cAK5hAHA7oNvA3qzIVPpUA1quUtTTaDms2YflNsxgvNCMIZmDV8EVTZCa7ITJPWxmu1bSE657">
                        </div>
                        <div class="col-lg-12">
                            <p data-msgid="AccessToken" data-current-language="vi" class="m-b-10">Office Account QR Code</p>
                            <img class="img-shadow" id="qrcode" src="https://page-photo-qr.zdn.vn/1568857405/0294646d5028b976e039.jpg" alt="OA QRCode" style="max-width:200px !important">
                            <div class="ctn-nd qrcode-alias" align="center">
                                <span>zalo.me/1991768888787015631</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section footerJS{
<script src="~/assets/client/js/setting.js"></script>
<script>
    var lstCard = @Html.Raw(Json.Encode(cards));
    var lstBot = @Html.Raw(Json.Encode(bots));
    var lstSystemConfig = @Html.Raw(Json.Encode(systemConfigs));
    function card() {
        var html = '<select id="sltCard" data-live-search="true" class="form-control selectKeyword checkvalid"><option value="" selected>---Chọn thẻ---</option>';
        if (lstCard.length != 0) {
            $.each(lstCard, function (index, value) {
                html += '<option value="'+value.ID+'">'+value.Name+'</option>';
            })
        }
        html += '</select>';
        return html;
    }
    function system() {
        if (lstSystemConfig.length != 0) {
            $.each(lstSystemConfig, function (index, value) {
                if (value.Code == "UrlAPI") {
                    $("#UrlAPI").val(value.ValueString);
                }
                if (value.Code == "ParamBotID") {
                    $("#BotCategoryID").val(value.ValueInt);
                    getAreaByBotId(value.ValueInt);
                }
                if (value.Code == "ParamAreaID") {
                    setTimeout(function(){
                        $("#AreaID").selectpicker('val', value.ValueInt);
                    },2000)

                }
                if (value.Code == "ParamNumberResponse") {
                    $("#NumberReponse").val(value.ValueInt);
                }
            })
        }
    };
    system();
</script>
}