@model BotProject.Web.Models.ApplicationUserViewModel
<input type="hidden" id="userId" value="@Model.Id"/>
<nav class="navbar navbar-expand-lg bg-blue fixed-top">
    <a class="navbar-brand" href="@Url.Content("~/Dashboard/Index")">Bot-Lạc Việt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (String.IsNullOrEmpty(Model.Avatar))
                    {
                        <i class="fas fa-fw fa-user-circle"></i>
                    }
                    else
                    {
                        <img src="@Model.Avatar" />
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name">
                            @Model.FullName
                        </h5>
                        <span class="status"></span><span class="ml-2">Available</span>
                    </div>
                    @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>*@
                    <a class="dropdown-item" href="javascript:void(0);" id="formChangePassword"><i class="fas fa-cog mr-2"></i>Đổi mật khẩu</a>
                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="#" id="btnLogout"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="ChangePasswordModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin tài khoản</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form id="form8">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Tài khoản</label>
                        <input type="text" class="form-control" id="UserName" value="@Model.UserName" disabled />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="txtPasswordCurent" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="txtPasswordNew" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChangePassword">Lưu thay đổi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeChangePassword">Đóng</button>
            </div>
        </div>

    </div>
</div>
<script>
    /* CHANGE PASSWORD*/
    $('body').on('click', '#formChangePassword', function (e) {
        $("#ChangePasswordModal").modal({
            backdrop: 'static',
            keyboard: true,
            show: true
        });
    });
    $('body').on('click', '#saveChangePassword', function (e) {
        var passwordCurrent = $("#txtPasswordCurent").val();
        var passwordNew = $("#txtPasswordNew").val();
        if (passwordCurrent.trim() == "") {
            toastr.error("", "Vui lòng nhập mật khẩu hiện tại", 3000);
            return false;
        }
        if (passwordNew.trim() == "") {
            toastr.error("", "Vui lòng nhập mật khẩu mới", 3000);
            return false;
        }
        var params = {
            userId: $("#userId").val(),
            passwordCurrent: passwordCurrent,
            passwordNew: passwordNew,
        }
        params = JSON.stringify(params);
        $.ajax({
            type: 'POST',
            url: _Host + "Account/UpdatePassword",
            data: params,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //async: this._serviceAsync,
            success: function (response) {
                if (response.status) {
                    toastr.success("", "Đổi mật khẩu thành công", 3000);
                    $("#ChangePasswordModal").modal('hide');
                } else {
                    toastr.error("", response.message, 3000);
                }
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    $('body').on('click', '#closeChangePassword', function (e) {
        $("#ChangePasswordModal").modal('hide');
    });
</script>