@model BotProject.Web.Models.ApplicationUserViewModel
<input type="hidden" id="userId" value="@Model.Id"/>
<nav class="navbar navbar-expand-lg bg-blue fixed-top">
    <a class="navbar-brand" href="@Url.Content("~/Dashboard/Index")">Bot-Lạc Việt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent" style="margin-left: 49px;">
        <div id="navBotCategory">
            @*<ul class="navbar-nav mr-auto navbar-left-top">
                <li class="nav-item dropdown nav-bot">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:aliceblue;border:1px solid darkgray;margin-left: 10px;">
                        <i class="fa fa fa-robot" aria-hidden="true"></i>
                        Danh sách BOT
                        <i class="fa fa-angle-down opacity-5"></i>
                    </a>
                    <div class="dropdown-menu nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2" style="left:auto;padding-top: 10px;margin-top: 3px;">
                        <a class="dropdown-item" href="javascript:void(0);" id="formChangePassword"><i class="fa fa fa-robot mr-2"></i>Y Tế</a>
                        <a class="dropdown-item" href="javascript:void(0);" id="formChangePassword"><i class="fa fa fa-robot mr-2"></i>Pháp Luật</a>
                    </div>
                </li>
            </ul>*@
        </div>
        <ul class="navbar-nav ml-auto navbar-right-top">
            <li class="nav-item dropdown notification">
                <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                    <li>
                        <div class="notification-title"> Notification</div>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                            <div class="notification-list" style="overflow: hidden; width: auto; height: 250px;">
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="../assets/images/avatar-2.jpg" alt="" class="avatar-xs rounded-circle"></div>
                                            <div class="notification-list-user-block">
                                                <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="../assets/images/avatar-3.jpg" alt="" class="avatar-xs rounded-circle"></div>
                                            <div class="notification-list-user-block">
                                                <span class="notification-list-user-name">John Deo</span>is now following you
                                                <div class="notification-date">2 days ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="../assets/images/avatar-4.jpg" alt="" class="avatar-xs rounded-circle"></div>
                                            <div class="notification-list-user-block">
                                                <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item list-group-item-action">
                                        <div class="notification-info">
                                            <div class="notification-list-user-img"><img src="../assets/images/avatar-5.jpg" alt="" class="avatar-xs rounded-circle"></div>
                                            <div class="notification-list-user-block">
                                                <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                <div class="notification-date">2 min ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </li>
                    <li>
                        <div class="list-footer"> <a href="#">View all notifications</a></div>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown nav-user">
                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (String.IsNullOrEmpty(Model.Avatar))
                    {
                        <i class="fas fa-fw fa-user-circle"></i>
                    }
                    else
                    {
                        <img src="@Model.Avatar" />
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                    <div class="nav-user-info">
                        <h5 class="mb-0 text-white nav-user-name">
                            @Model.FullName
                        </h5>
                        <span class="status"></span><span class="ml-2">Available</span>
                    </div>
                    @*<a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>*@
                    <a class="dropdown-item" href="javascript:void(0);" id="formChangePassword"><i class="fas fa-cog mr-2"></i>Đổi mật khẩu</a>
                    @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="dropdown-item" href="#" id="btnLogout"><i class="fas fa-power-off mr-2"></i>Đăng xuất</a>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="ChangePasswordModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin tài khoản</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <form id="form8">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Tài khoản</label>
                        <input type="text" class="form-control" id="UserName" value="@Model.UserName" disabled />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mật khẩu hiện tại</label>
                        <input type="password" class="form-control" id="txtPasswordCurent" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Mật khẩu mới</label>
                        <input type="password" class="form-control" id="txtPasswordNew" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChangePassword">Lưu thay đổi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeChangePassword">Đóng</button>
            </div>
        </div>

    </div>
</div>
<script>
    /* CHANGE PASSWORD*/
    $('body').on('click', '#formChangePassword', function (e) {
        $("#ChangePasswordModal").modal({
            backdrop: 'static',
            keyboard: true,
            show: true
        });
    });
    $('body').on('click', '#saveChangePassword', function (e) {
        var passwordCurrent = $("#txtPasswordCurent").val();
        var passwordNew = $("#txtPasswordNew").val();
        if (passwordCurrent.trim() == "") {
            toastr.error("", "Vui lòng nhập mật khẩu hiện tại", 3000);
            return false;
        }
        if (passwordNew.trim() == "") {
            toastr.error("", "Vui lòng nhập mật khẩu mới", 3000);
            return false;
        }
        var params = {
            userId: $("#userId").val(),
            passwordCurrent: passwordCurrent,
            passwordNew: passwordNew,
        }
        params = JSON.stringify(params);
        $.ajax({
            type: 'POST',
            url: _Host + "Account/UpdatePassword",
            data: params,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            //async: this._serviceAsync,
            success: function (response) {
                if (response.status) {
                    toastr.success("", "Đổi mật khẩu thành công", 3000);
                    $("#ChangePasswordModal").modal('hide');
                } else {
                    toastr.error("", response.message, 3000);
                }
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
    $('body').on('click', '#closeChangePassword', function (e) {
        $("#ChangePasswordModal").modal('hide');
    });
</script>